JWT_SECRET=your_super_secret_key_here
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
DATABASE_URL=mysql://root:senha@localhost:3306/douglas-paiani
BACKBLAZE_KEY_ID=
BACKBLAZE_APPLICATION_KEY=
BACKBLAZE_BUCKET_NAME=
BACKBLAZE_REGION=us-east-005
BACKBLAZE_ENDPOINT=
BACKBLAZE_PUBLIC_URL=https://f005.backblazeb2.com/file/seu-bucket
BACKBLAZE_PREFIXO_IMAGENS=uploads/imagens
